h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

body,
section,
header,
footer,
button,
ul,
h1,
h2,
h3,
p,
a,
div {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: none; }

h1,
h2,
h3 {
  font-weight: inherit; }

button {
  outline: none;
  border: none; }

input,
textarea,
[contenteditable] {
  caret-color: #fff; }

@font-face {
  font-family: "Poppins-Bold";
  src: url("../fonts/Poppins-Bold.ttf") format("truetype"), url("../fonts/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../fonts/Poppins-SemiBold.ttf") format("truetype"), url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype"), url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

.nav {
  font-family: "Poppins-Bold", Arial, sans-serif;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 3px;
  text-transform: uppercase;
  max-width: 1152px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto; }
  .nav__checkbox, .nav__burger {
    display: none; }
  .nav__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1;
            flex: 1 1; }
  .nav__list {
    -webkit-box-flex: 5.5;
        -ms-flex: 5.5 3;
            flex: 5.5 3;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .nav__link {
    padding: 8px;
    display: inline-block;
    white-space: nowrap; }
  .nav__action {
    -webkit-box-flex: 3.2;
        -ms-flex: 3.2 10;
            flex: 3.2 10;
    text-align: right;
    position: relative;
    padding: 8px;
    white-space: nowrap; }
    .nav__action::after {
      content: "";
      display: block;
      background-color: #ff9c8e;
      width: 70px;
      height: 2px;
      position: absolute;
      right: 9px;
      bottom: 0; }
  .nav__hire {
    display: none; }
  @media (max-width: 800px) {
    .nav__action {
      font-size: 16px;
      line-height: 2; }
    .nav__action::after {
      width: 84%; }
    .nav__hire {
      display: inline-block; }
    .nav__list {
      font-size: 16px;
      line-height: 2;
      text-transform: uppercase;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      background-color: #0075ff;
      position: absolute;
      right: 0;
      top: -330px;
      width: 200px;
      padding-top: 22px;
      padding-left: 10px;
      padding-bottom: 20px;
      -webkit-transition: top 0.3s ease-in-out;
      transition: top 0.3s ease-in-out; }
    .nav__checkbox:checked ~ .nav > .nav__list {
      top: 0; }
    .nav__burger {
      display: block;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 70px;
      height: 50px;
      position: absolute;
      top: 20px;
      right: 0;
      z-index: 1; }
    .nav__burger-line {
      width: 18px;
      height: 2px;
      background-color: #fff;
      position: absolute;
      right: 24px;
      -webkit-transition: opacity 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
      transition: opacity 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
      transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
      transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out; }
      .nav__burger-line:first-child {
        top: 20px; }
      .nav__burger-line:nth-child(2), .nav__burger-line:nth-child(3) {
        top: 25px; }
      .nav__burger-line:last-child {
        top: 30px; }
    .nav__checkbox:checked ~ .nav__burger > .nav__burger-line {
      -webkit-transform: scale(1.5);
              transform: scale(1.5); }
      .nav__checkbox:checked ~ .nav__burger > .nav__burger-line:first-child, .nav__checkbox:checked ~ .nav__burger > .nav__burger-line:last-child {
        opacity: 0; }
      .nav__checkbox:checked ~ .nav__burger > .nav__burger-line:nth-child(2) {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg); }
      .nav__checkbox:checked ~ .nav__burger > .nav__burger-line:nth-child(3) {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg); } }

.title {
  font-family: "Poppins-SemiBold", Arial, Helvetica, sans-serif;
  font-size: 32px;
  line-height: 1.5;
  letter-spacing: -2px;
  margin-bottom: 32px; }

.header {
  color: #fff;
  height: 800px;
  padding: 48px 40px 0;
  position: relative;
  overflow: hidden;
  background-color: #2f80ed;
  border-radius: 0 0 0 200px; }
  .header__content {
    max-width: 1152px;
    height: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-transition: height 0.3s ease;
    transition: height 0.3s ease; }
  .header__title {
    font-size: 64px;
    line-height: 68px;
    width: 300px; }
  .header__text {
    font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
    font-size: 18px;
    width: 35%;
    min-width: 320px;
    margin-bottom: 83px; }
  @media (max-width: 800px) {
    .header__content {
      height: 55%; }
    .header__title {
      font-size: 48px; }
    .header__text {
      min-width: 250px; }
    .header__hire {
      display: none; } }
  .header__button {
    font-family: "Poppins-SemiBold", Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 50px;
    text-align: center;
    display: block;
    width: 226px;
    height: 50px;
    border-radius: 25px;
    background-color: #ff9c8e; }

.slider {
  width: 43%;
  height: 80%;
  border-radius: 200px 0 0;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #ff9c8e;
  overflow: hidden;
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease; }
  @media (max-width: 800px) {
    .slider {
      height: 40%; } }
  .slider__content {
    width: 100%;
    height: 100%;
    background-image: url(../images/slider/slide-img-1.jpg);
    background-position: center;
    background-size: cover; }

.section {
  margin: 0 auto;
  padding: 0 30px; }
  .section__content {
    max-width: 1152px; }

.welcome {
  height: 500px;
  padding-top: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .welcome__article {
    width: 50%;
    min-width: 490px; }
  .welcome__title {
    color: #253757;
    font-size: 32px;
    margin-bottom: 16px; }
  .welcome__text {
    color: #6c788b;
    font-size: 24px; }
  @media (max-width: 800px) {
    .welcome {
      height: auto;
      padding-top: 52px;
      padding-bottom: 32px; }
      .welcome__article {
        max-width: 90%;
        min-width: auto;
        width: 490px;
        padding: 0 32px; }
      .welcome__text {
        font-size: 20px; } }

.expertise {
  height: 760px;
  padding-top: 128px;
  background-color: #fff;
  color: #253757; }
  .expertise__title {
    font-size: 52px;
    text-align: center; }
  .expertise__items {
    margin: 64px auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1152px; }
  @media (max-width: 600px) {
    .expertise {
      height: auto;
      padding-top: 28px; }
      .expertise__items {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }

.item {
  width: 270px;
  text-align: center;
  margin: 0 10px; }
  .item__link {
    display: block; }
  .item__img {
    width: 10vw;
    min-width: 160px;
    height: 10vw;
    min-height: 160px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    border-radius: 24px; }
  .item__title {
    margin-top: 40px; }
  .item__text {
    color: #6c788b;
    margin-top: 16px; }
  @media (max-width: 600px) {
    .item__title {
      margin-top: 20px; }
    .item__text {
      margin-bottom: 15px; } }

.process {
  max-width: 1152px;
  height: 750px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 900px) {
    .process {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding-top: 32px;
      height: auto; } }
  .process__article {
    max-width: 360px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .process__descr {
    color: #c0cdd7;
    font-family: "Poppins-Bold", Arial, Helvetica, sans-serif;
    font-size: 13px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 16px; }
  .process__title {
    color: #253757;
    font-family: "Poppins-SemiBold", Arial, Helvetica, sans-serif;
    font-size: 32px;
    line-height: 1.3;
    margin-bottom: 24px; }
  .process__text {
    color: #6c788b; }
  .process__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    min-width: 550px;
    min-height: 550px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-top: 148px;
    -webkit-transition: margin-top 0.3s ease;
    transition: margin-top 0.3s ease; }
    @media (max-width: 900px) {
      .process__cards {
        min-width: auto;
        margin-top: 20px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }

.card {
  width: 264px;
  height: 264px;
  margin-bottom: 30px;
  padding: 32px;
  background-color: #fff;
  border-radius: 24px;
  -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.1);
          box-shadow: 0 9px 18px rgba(37, 41, 49, 0.1); }
  .card__num {
    font-family: "Poppins-SemiBold", Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #56ccf2;
    background-color: rgba(86, 204, 242, 0.1);
    display: inline-block;
    padding: 2px 12px;
    border-radius: 12px; }
  .card__text {
    color: #6c788b;
    font-family: "OpenSans-SemiBold", Arial, Helvetica, sans-serif;
    margin-top: 24px; }
  .card__link {
    padding-top: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .card__link-icon {
    width: 40px;
    height: 40px;
    background: #56ccf2 url(../images/arrow-r.svg) center no-repeat;
    border-radius: 50%; }
  .card__link-text {
    color: #334563;
    font-family: "Poppins-SemiBold", Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-left: 16px; }
  .card:nth-child(2) > .card__num {
    color: #fcc304;
    background-color: rgba(252, 195, 4, 0.1); }
  .card:nth-child(2) .card__link-icon {
    background-color: #fcc304; }
  .card:nth-child(3) > .card__num {
    color: #03d542;
    background-color: rgba(3, 213, 66, 0.1); }
  .card:nth-child(3) .card__link-icon {
    background-color: #03d542; }
  .card:nth-child(4) > .card__num {
    color: #f25656;
    background-color: rgba(242, 86, 86, 0.1); }
  .card:nth-child(4) .card__link-icon {
    background-color: #f25656; }
  .card:nth-child(2n-1) {
    -webkit-transform: translateY(50%);
            transform: translateY(50%); }
  @media (max-width: 900px) {
    .card {
      margin-right: 20px; }
      .card:nth-child(2n-1) {
        -webkit-transform: translateY(0%);
                transform: translateY(0%); } }

.approach {
  height: 976px;
  margin-left: 7.5%;
  padding-left: 12.5%;
  padding-right: 0;
  border-radius: 200px 0 0 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ff9c8e; }
  .approach__content {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .approach__article {
    max-width: 360px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .approach__descr {
    color: #fff;
    font-family: "Poppins-Bold", Arial, Helvetica, sans-serif;
    font-size: 13px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 16px; }
  .approach__title {
    color: #fff;
    font-family: "Poppins-SemiBold", Arial, Helvetica, sans-serif;
    font-size: 32px;
    margin-bottom: 32px; }
  .approach__text {
    color: #fff;
    position: relative;
    margin-left: 96px; }
  .approach__text:not(:last-child) {
    margin-bottom: 64px; }
  .approach__text::before {
    content: "";
    display: block;
    width: 64px;
    height: 64px;
    position: absolute;
    left: -96px;
    top: 11px;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%; }
  .approach__text:nth-of-type(1)::before {
    background-image: url(../images/approach/features-item-icon-1.svg); }
  .approach__text:nth-of-type(2)::before {
    background-image: url(../images/approach/features-item-icon-2.svg); }
  .approach__text:nth-of-type(3)::before {
    background-image: url(../images/approach/features-item-icon-3.svg); }
  .approach__pic {
    -ms-flex-item-align: end;
        align-self: flex-end;
    width: 53%;
    height: 70%; }
  .approach__img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    border-radius: 200px 0 0; }
  @media (max-width: 600px) {
    .approach__pic {
      display: none; }
    .approach__descr {
      text-align: right; } }

.testimonials {
  max-width: 1152px;
  height: 1027px;
  margin: 0 auto;
  padding: 148px 20px 0; }
  .testimonials__descr {
    color: #c0cdd7;
    font-family: "Poppins-Bold", Arial, Helvetica, sans-serif;
    font-size: 13px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 16px; }
  .testimonials__title {
    color: #253757;
    font-family: "Poppins-SemiBold", Arial, Helvetica, sans-serif;
    font-size: 32px;
    margin-bottom: 0; }
  .testimonials__people {
    padding-top: 85px;
    padding-bottom: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  @media (max-width: 900px) {
    .testimonials {
      height: auto;
      padding-top: 64px; }
      .testimonials__people {
        padding-top: 48px;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }

.expert {
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  width: 300px;
  padding: 32px;
  background-color: #fff;
  border-radius: 24px; }
  @media (max-width: 900px) {
    .expert {
      margin-right: 16px;
      margin-bottom: 16px; } }
  .expert__img-wrap {
    width: 100%;
    height: 0;
    padding-top: 100%;
    overflow: hidden;
    position: relative; }
  .expert__img-wrap::before, .expert__img-wrap::after {
    content: "";
    display: block;
    width: 139px;
    height: 56px;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(0, 0, 0, 0.1)));
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(0, 0, 0, 0.1) 100%);
    border-radius: 28px; }
  .expert__img-wrap::after {
    right: 0;
    top: auto;
    left: auto;
    bottom: 50%;
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg); }
  .expert__img {
    width: 140px;
    height: 140px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 50%;
    -webkit-box-shadow: 5px 10px 20px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 5px 10px 20px 0 rgba(0, 0, 0, 0.3);
    z-index: 1; }
  .expert__quote {
    padding-top: 27px; }
  .expert__text {
    color: #6c788b;
    padding-top: 11px; }
  .expert__name {
    color: #253757;
    padding-top: 16px; }
  .expert__descr {
    color: #c0cdd7;
    font-family: "Poppins-Bold", Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding-top: 4px; }
  .expert:nth-child(1) .expert__img-wrap::before,
  .expert:nth-child(1) .expert__img-wrap::after {
    background-color: #56ccf2; }
  .expert:nth-child(1) .expert__quote {
    color: #56ccf2; }
  .expert:nth-child(2) .expert__img-wrap::before,
  .expert:nth-child(2) .expert__img-wrap::after {
    background-color: #fcc304; }
  .expert:nth-child(2) .expert__quote {
    color: #fcc304; }
  .expert:nth-child(3) .expert__img-wrap::before,
  .expert:nth-child(3) .expert__img-wrap::after {
    background-color: #f25656; }
  .expert:nth-child(3) .expert__quote {
    color: #f25656; }

.apply {
  height: 888px;
  padding-top: 200px;
  text-align: center;
  background-color: #fff;
  position: relative; }
  .apply__title {
    font-size: 52px;
    color: #253757;
    margin-bottom: 24px; }
  .apply__text {
    color: #6c788b;
    font-size: 24px;
    width: 47%;
    min-width: 352px;
    margin: 0 auto 64px; }
  .apply__button {
    font-family: "Poppins-SemiBold", Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 50px;
    text-align: center;
    display: block;
    width: 226px;
    height: 50px;
    margin: 0 auto;
    border-radius: 25px;
    background-color: #ff9c8e; }
  @media (max-width: 700px) {
    .apply {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 0 0 117px; }
      .apply__text {
        min-width: auto;
        margin: 0 auto;
        width: 80%;
        max-width: 400px; }
      .apply__button {
        margin: 16px auto; } }
  .apply__d {
    position: absolute;
    width: 10vw;
    height: 4vw;
    border-radius: 3vw;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg); }
    .apply__d:nth-of-type(1) {
      top: 480px;
      left: 76vw; }
    .apply__d:nth-of-type(2) {
      top: 50px;
      left: 39vw; }
    .apply__d:nth-of-type(3) {
      top: 150px;
      left: 5vw; }
    .apply__d:nth-of-type(4) {
      top: 50px;
      left: 15vw; }
    .apply__d:nth-of-type(5) {
      top: 330px;
      left: 10vw; }
    .apply__d:nth-of-type(6) {
      top: 100px;
      left: 70vw; }
    .apply__d:nth-of-type(7) {
      top: 150px;
      left: 20vw; }
    .apply__d:nth-of-type(8) {
      top: 330px;
      left: 84vw; }
    .apply__d:nth-of-type(9) {
      top: 330px;
      left: 10vw; }
    .apply__d:nth-of-type(10) {
      top: 400px;
      left: 70vw; }
    .apply__d:nth-of-type(11) {
      top: 150px;
      left: 80vw; }
    .apply__d:nth-of-type(12) {
      top: 560px;
      left: 60vw; }

.d-cp {
  border: 5px solid #bc04fc; }

.d-cg {
  border: 5px solid #03d542; }

.d-cy {
  border: 5px solid #fcc304; }

.d-cr {
  border: 5px solid #f25656; }

.d-cb {
  border: 5px solid #56ccf2; }

.ds {
  width: 5vw;
  height: 2vw; }

.input {
  color: #fff;
  font-size: 15px;
  line-height: 22px;
  padding: 16px 0;
  margin-bottom: 32px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: inherit; }
  .input::-webkit-input-placeholder {
    color: #fff;
    opacity: 0.7; }
  .input::-moz-placeholder {
    color: #fff;
    opacity: 0.7; }
  .input:-ms-input-placeholder {
    color: #fff;
    opacity: 0.7; }
  .input::-ms-input-placeholder {
    color: #fff;
    opacity: 0.7; }
  .input::placeholder {
    color: #fff;
    opacity: 0.7; }

.footer {
  color: white;
  background-color: #2f80ed;
  border-radius: 0 200px 0 0;
  height: 867px;
  margin-top: -200px;
  padding-top: 180px;
  padding-bottom: 84px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .footer__content {
    width: 100%;
    max-width: 1152px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer__form {
    width: 460px;
    padding: 0 10px; }
  .footer__title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 40px; }
  .footer__button {
    font-family: "Poppins-SemiBold", Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    display: block;
    width: 226px;
    height: 50px;
    margin: 80px auto 0;
    border-radius: 25px;
    background-color: #ff9c8e; }
  .footer__logo {
    padding-right: 30px; }
  .footer__nav {
    margin: 0 auto; }
  @media (max-width: 800px) {
    .footer {
      height: auto;
      min-height: 867px;
      padding: 64px 0; }
      .footer__content {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
      .footer__form {
        padding: 0 20px; }
      .footer__button {
        margin-top: 32px;
        margin-bottom: 48px; }
      .footer__logo {
        padding-top: 32px; } }

.contact-us {
  padding-right: 8vw;
  padding-left: 20px; }
  .contact-us__title {
    margin-bottom: 56px; }
  .contact-us__descr {
    opacity: 0.5;
    font-family: "Poppins-Bold", Arial, Helvetica, sans-serif;
    font-size: 13px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 16px; }
  .contact-us__value {
    font-family: "OpenSans-SemiBold", Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin-bottom: 48px; }
  .contact-us__socls {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #fff; }
  .contact-us__socl {
    width: 32px;
    height: 32px;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: center;
       object-position: center; }

html {
  font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  scroll-behavior: smooth; }

body {
  background: #f2f9ff; }

/*# sourceMappingURL=main.css.map */
